<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>

<div class="container">

    <form class="login-box" method="POST" action="/auth/login">

        <h1>Entrar</h1>

        {% if erro %}
            <p style="color:red;">{{ erro }}</p>
        {% endif %}

        <div class="input-group">
            <input
                type="email"
                name="email"
                placeholder="Email"
                required
            >
        </div>

        <div class="input-group senha">
            <input
                type="password"
                id="senha"
                name="senha"
                placeholder="Senha"
                required
            >
            <button type="button" id="mostrarSenha">👁</button>
        </div>

        <button type="submit" class="btn-login">
            Entrar
        </button>

        <p>
            Não possui conta?
            <a href="/auth/cadastro">Cadastre-se</a>
        </p>

    </form>

</div>

<script src="/static/js/login.js"></script>

</body>
</html>